.loading-overlay {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    opacity: 0;
    background: #22222280;
}

.heroku-warning {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    font-family: 'Major Mono Display', sans-serif;
    text-transform: lowercase;
    font-weight: bolder;
    color: white;
}

.loading-animation {
    width: 250px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.loading-element {
    animation: MoveUpDown 0.5s linear infinite;
    position: relative;
}

@keyframes MoveUpDown {
    0%, 100% {
        top: -10px;
    }
    50% {
        top: 5px;
    }
}
